USE [master]
GO
/****** Object:  Database [TP_Campo_62_BP]    Script Date: 19/5/2026 23:51:51 ******/
CREATE DATABASE [TP_Campo_62_BP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP_Campo_62_BP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TP_Campo_62_BP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP_Campo_62_BP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TP_Campo_62_BP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP_Campo_62_BP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP_Campo_62_BP]
GO
/****** Object:  Table [dbo].[Bitacora_62_BP]    Script Date: 19/5/2026 23:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora_62_BP](
	[id_62_BP] [int] IDENTITY(1,1) NOT NULL,
	[fecha_62_BP] [datetime] NOT NULL,
	[dniUsuario_62_BP] [varchar](20) NOT NULL,
	[mensaje_62_BP] [nvarchar](max) NOT NULL,
	[criticidad_62_BP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_62_BP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_62_BP]    Script Date: 19/5/2026 23:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_62_BP](
	[dni_62_BP] [varchar](20) NOT NULL,
	[apellido_62_BP] [nvarchar](100) NOT NULL,
	[nombre_62_BP] [nvarchar](100) NOT NULL,
	[rol_62_BP] [nvarchar](50) NOT NULL,
	[email_62_BP] [nvarchar](256) NOT NULL,
	[login_62_BP] [nvarchar](50) NOT NULL,
	[contrasena_62_BP] [nvarchar](max) NOT NULL,
	[bloqueo_62_BP] [bit] NOT NULL,
	[activo_62_BP] [bit] NOT NULL,
	[intentosLogin_62_BP] [int] NOT NULL,
	[ForzarContrasenaNueva_62_BP] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dni_62_BP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora_62_BP] ON 

INSERT [dbo].[Bitacora_62_BP] ([id_62_BP], [fecha_62_BP], [dniUsuario_62_BP], [mensaje_62_BP], [criticidad_62_BP]) VALUES (24, CAST(N'2026-05-18T21:11:59.750' AS DateTime), N'123456789', N'Igiqi6RPeC6pXv+grZp+rreHDNmnODXADlkjaBwF5pc=', 1)
INSERT [dbo].[Bitacora_62_BP] ([id_62_BP], [fecha_62_BP], [dniUsuario_62_BP], [mensaje_62_BP], [criticidad_62_BP]) VALUES (25, CAST(N'2026-05-18T21:12:42.740' AS DateTime), N'123456789', N'dYQWDfdkI46gJ+0/eoLXjP/sRZxFzXyZPHpKy8k51+k=', 1)
INSERT [dbo].[Bitacora_62_BP] ([id_62_BP], [fecha_62_BP], [dniUsuario_62_BP], [mensaje_62_BP], [criticidad_62_BP]) VALUES (26, CAST(N'2026-05-18T21:26:15.980' AS DateTime), N'123456789', N'Igiqi6RPeC6pXv+grZp+rreHDNmnODXADlkjaBwF5pc=', 1)
SET IDENTITY_INSERT [dbo].[Bitacora_62_BP] OFF
GO
INSERT [dbo].[Usuario_62_BP] ([dni_62_BP], [apellido_62_BP], [nombre_62_BP], [rol_62_BP], [email_62_BP], [login_62_BP], [contrasena_62_BP], [bloqueo_62_BP], [activo_62_BP], [intentosLogin_62_BP], [ForzarContrasenaNueva_62_BP]) VALUES (N'12345678', N'Gomez', N'Teo', N'base', N'teoGomez@mail.com', N'teogomez', N'cYVwS25Cnr4lq95+a2Dab8jF8voSF7sXRRWXh8IVLik=', 0, 1, 0, 0)
INSERT [dbo].[Usuario_62_BP] ([dni_62_BP], [apellido_62_BP], [nombre_62_BP], [rol_62_BP], [email_62_BP], [login_62_BP], [contrasena_62_BP], [bloqueo_62_BP], [activo_62_BP], [intentosLogin_62_BP], [ForzarContrasenaNueva_62_BP]) VALUES (N'123456789', N'Bossio', N'Juan Cruz', N'ADMIN', N'Juancruzbossio@mail.com', N'admin', N'jGl25bVBBBW96Qi9Te4V37Fnqchz/Eu4qB9vKrRIqRg=', 0, 1, 0, 0)
INSERT [dbo].[Usuario_62_BP] ([dni_62_BP], [apellido_62_BP], [nombre_62_BP], [rol_62_BP], [email_62_BP], [login_62_BP], [contrasena_62_BP], [bloqueo_62_BP], [activo_62_BP], [intentosLogin_62_BP], [ForzarContrasenaNueva_62_BP]) VALUES (N'1234568877', N'dmin', N'a', N'test', N'test@test.ocm', N'test', N'jGl25bVBBBW96Qi9Te4V37Fnqchz/Eu4qB9vKrRIqRg=', 0, 1, 0, 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario___CA3595053458624A]    Script Date: 19/5/2026 23:51:51 ******/
ALTER TABLE [dbo].[Usuario_62_BP] ADD UNIQUE NONCLUSTERED 
(
	[login_62_BP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario_62_BP] ADD  DEFAULT ((0)) FOR [bloqueo_62_BP]
GO
ALTER TABLE [dbo].[Usuario_62_BP] ADD  DEFAULT ((1)) FOR [activo_62_BP]
GO
ALTER TABLE [dbo].[Usuario_62_BP] ADD  DEFAULT ((0)) FOR [intentosLogin_62_BP]
GO
ALTER TABLE [dbo].[Usuario_62_BP] ADD  DEFAULT ((0)) FOR [ForzarContrasenaNueva_62_BP]
GO
USE [master]
GO
