USE [TP Campo]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 6/5/2026 22:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[dniUsuario] [varchar](20) NOT NULL,
	[mensaje] [nvarchar](max) NOT NULL,
	[criticidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 6/5/2026 22:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[dni] [varchar](20) NOT NULL,
	[apellido] [nvarchar](100) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[rol] [nvarchar](50) NOT NULL,
	[email] [nvarchar](256) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[contrasena] [nvarchar](max) NOT NULL,
	[bloqueo] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([id], [fecha], [dniUsuario], [mensaje], [criticidad]) VALUES (1, CAST(N'2026-05-06T20:27:32.183' AS DateTime), N'0', N'Alta de Usuario admin', 1)
INSERT [dbo].[Bitacora] ([id], [fecha], [dniUsuario], [mensaje], [criticidad]) VALUES (2, CAST(N'2026-05-06T20:31:58.690' AS DateTime), N'123456789', N'Login de Usuario admin', 1)
INSERT [dbo].[Bitacora] ([id], [fecha], [dniUsuario], [mensaje], [criticidad]) VALUES (3, CAST(N'2026-05-06T22:33:48.107' AS DateTime), N'123456789', N'Login de Usuario admin', 1)
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
INSERT [dbo].[Usuario] ([dni], [apellido], [nombre], [rol], [email], [login], [contrasena], [bloqueo], [activo]) VALUES (N'123456789', N'Bossio', N'Juan Cruz', N'ADMIN', N'Juancruzbossio@mail.com', N'admin', N'jGl25bVBBBW96Qi9Te4V37Fnqchz/Eu4qB9vKrRIqRg=', 0, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__7838F272775E2F73]    Script Date: 6/5/2026 22:58:31 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [bloqueo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [activo]
GO
