USE [master]
GO

IF DB_ID('TP_Campo_62_BP') IS NOT NULL
BEGIN
    ALTER DATABASE TP_Campo_62_BP SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE TP_Campo_62_BP;
END
GO
CREATE DATABASE [TP_Campo_62_BP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP_Campo_62_BP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TP_Campo_62_BP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP_Campo_62_BP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TP_Campo_62_BP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP_Campo_62_BP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP_Campo_62_BP]
GO
/****** Object:  Table [dbo].[Bitacora_62_BP]    Script Date: 5/7/2026 21:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora_62_BP](
	[id_62_BP] [int] IDENTITY(1,1) NOT NULL,
	[fecha_62_BP] [datetime] NOT NULL,
	[dniUsuario_62_BP] [varchar](20) NOT NULL,
	[mensaje_62_BP] [nvarchar](max) NOT NULL,
	[criticidad_62_BP] [int] NOT NULL,
	[DVH_62_BP] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_62_BP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitoVerificadorVertical_62_BP]    Script Date: 5/7/2026 21:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificadorVertical_62_BP](
	[Tabla_62_BP] [varchar](100) NULL,
	[DVV_62_BP] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_62_BP]    Script Date: 5/7/2026 21:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_62_BP](
	[IdFamilia_62_BP] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_62_BP] [varchar](100) NULL,
	[DVH_62_BP] [varchar](500) NULL,
 CONSTRAINT [PK_Familia_62_BP] PRIMARY KEY CLUSTERED 
(
	[IdFamilia_62_BP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaFamilia_62_BP]    Script Date: 5/7/2026 21:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaFamilia_62_BP](
	[IdFamiliaPadre_62_BP] [int] NOT NULL,
	[IdFamiliaHija_62_BP] [int] NOT NULL,
 CONSTRAINT [PK_FamiliaFamilia_62_BP] PRIMARY KEY CLUSTERED 
(
	[IdFamiliaPadre_62_BP] ASC,
	[IdFamiliaHija_62_BP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaPatente_62_BP]    Script Date: 5/7/2026 21:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaPatente_62_BP](
	[IdFamilia_62_BP] [int] NULL,
	[IdPatente_62_BP] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patente_62_BP]    Script Date: 5/7/2026 21:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente_62_BP](
	[IdPatente_62_BP] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_62_BP] [varchar](100) NULL,
	[DVH_62_BP] [varchar](500) NULL,
 CONSTRAINT [PK_Patente_62_BP] PRIMARY KEY CLUSTERED 
(
	[IdPatente_62_BP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol_62_BP]    Script Date: 5/7/2026 21:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_62_BP](
	[IdRol_62_BP] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_62_BP] [varchar](100) NULL,
	[DVH_62_BP] [varchar](500) NULL,
 CONSTRAINT [PK_Rol_62_BP] PRIMARY KEY CLUSTERED 
(
	[IdRol_62_BP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolFamilia_62_BP]    Script Date: 5/7/2026 21:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolFamilia_62_BP](
	[IdRol_62_BP] [int] NOT NULL,
	[IdFamilia_62_BP] [int] NOT NULL,
 CONSTRAINT [PK_RolFamilia_62_BP] PRIMARY KEY CLUSTERED 
(
	[IdRol_62_BP] ASC,
	[IdFamilia_62_BP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolPatente_62_BP]    Script Date: 5/7/2026 21:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolPatente_62_BP](
	[IdRol_62_BP] [int] NOT NULL,
	[IdPatente_62_BP] [int] NOT NULL,
 CONSTRAINT [PK_RolPatente_62_BP] PRIMARY KEY CLUSTERED 
(
	[IdRol_62_BP] ASC,
	[IdPatente_62_BP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_62_BP]    Script Date: 5/7/2026 21:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_62_BP](
	[dni_62_BP] [varchar](20) NOT NULL,
	[apellido_62_BP] [nvarchar](100) NOT NULL,
	[nombre_62_BP] [nvarchar](100) NOT NULL,
	[email_62_BP] [nvarchar](256) NOT NULL,
	[login_62_BP] [nvarchar](50) NOT NULL,
	[contrasena_62_BP] [nvarchar](max) NOT NULL,
	[bloqueo_62_BP] [bit] NOT NULL,
	[activo_62_BP] [bit] NOT NULL,
	[intentosLogin_62_BP] [int] NOT NULL,
	[ForzarContrasenaNueva_62_BP] [bit] NOT NULL,
	[IdRol_62_BP] [int] NOT NULL,
	[DVH_62_BP] [varchar](500) NULL,
	[Idioma_62_BP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dni_62_BP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora_62_BP] ON 

INSERT [dbo].[Bitacora_62_BP] ([id_62_BP], [fecha_62_BP], [dniUsuario_62_BP], [mensaje_62_BP], [criticidad_62_BP], [DVH_62_BP]) VALUES (461, CAST(N'2026-07-05T14:13:47.330' AS DateTime), N'123456789', N'Login de Usuario admin', 1, N'fLE+cJI/xuloVp6UneHFBSXoWuGV3NZXcHwvR1gpnIE=')
INSERT [dbo].[Bitacora_62_BP] ([id_62_BP], [fecha_62_BP], [dniUsuario_62_BP], [mensaje_62_BP], [criticidad_62_BP], [DVH_62_BP]) VALUES (462, CAST(N'2026-07-05T14:14:06.907' AS DateTime), N'123456789', N'Logout de Usuario', 1, N'LbUJwYlen/7dEQIf8w1p21X6AJ/qMmuXXGWBB/gSWmI=')
INSERT [dbo].[Bitacora_62_BP] ([id_62_BP], [fecha_62_BP], [dniUsuario_62_BP], [mensaje_62_BP], [criticidad_62_BP], [DVH_62_BP]) VALUES (463, CAST(N'2026-07-05T14:15:17.427' AS DateTime), N'123456789', N'Login de Usuario admin', 1, N'0VsGO2OCuFOw4cCJQMKIRgckEbYl+g/RFRuVWd74JPs=')
SET IDENTITY_INSERT [dbo].[Bitacora_62_BP] OFF
GO
INSERT [dbo].[DigitoVerificadorVertical_62_BP] ([Tabla_62_BP], [DVV_62_BP]) VALUES (N'Usuario_62_BP', N'41sLD2RD9Z1VumrLInBPF3ueRyLQjmobIBI4QBTkc/w=')
INSERT [dbo].[DigitoVerificadorVertical_62_BP] ([Tabla_62_BP], [DVV_62_BP]) VALUES (N'Rol_62_BP', N'+CB04h9DWnfxteNpy9HFeJZnyCSQ/0AbLgXvkPQdC/o=')
INSERT [dbo].[DigitoVerificadorVertical_62_BP] ([Tabla_62_BP], [DVV_62_BP]) VALUES (N'Patente_62_BP', N'UXRRPfJV3XkZTCEGqAqaxtnGxbSU0d6fakbQ24q0Ows=')
GO
SET IDENTITY_INSERT [dbo].[Familia_62_BP] ON 

INSERT [dbo].[Familia_62_BP] ([IdFamilia_62_BP], [Nombre_62_BP], [DVH_62_BP]) VALUES (1, N'Usuario', N'SC9LvoEVNtC+MsazdxEUYJCaF037AQt/oNwReZ/3OmQ=')
INSERT [dbo].[Familia_62_BP] ([IdFamilia_62_BP], [Nombre_62_BP], [DVH_62_BP]) VALUES (3, N'Manejo - Familia', N'R3baWjuU8kwM+nWlfU1e21wAujH+L7h6/3ZxA5mdg58=')
INSERT [dbo].[Familia_62_BP] ([IdFamilia_62_BP], [Nombre_62_BP], [DVH_62_BP]) VALUES (4, N'Manejo - Rol', N'ABuy/jVxA0V6SGFOsUgDNdKXyNKrJZp3PL4gttjiVlo=')
SET IDENTITY_INSERT [dbo].[Familia_62_BP] OFF
GO
INSERT [dbo].[FamiliaPatente_62_BP] ([IdFamilia_62_BP], [IdPatente_62_BP]) VALUES (1, 15)
INSERT [dbo].[FamiliaPatente_62_BP] ([IdFamilia_62_BP], [IdPatente_62_BP]) VALUES (1, 16)
INSERT [dbo].[FamiliaPatente_62_BP] ([IdFamilia_62_BP], [IdPatente_62_BP]) VALUES (1, 17)
GO
SET IDENTITY_INSERT [dbo].[Patente_62_BP] ON 

INSERT [dbo].[Patente_62_BP] ([IdPatente_62_BP], [Nombre_62_BP], [DVH_62_BP]) VALUES (1, N'Usuario - Crear', N'3NvnjHiX8v2KO73yrvj3LDFaZOTj6JAm1ONUqzKLics=')
INSERT [dbo].[Patente_62_BP] ([IdPatente_62_BP], [Nombre_62_BP], [DVH_62_BP]) VALUES (2, N'Usuario - Desbloquear', N'nnR1ZW0Ai5mmdRiXQLF6VY1u352LhiE67ZAIIHXovBQ=')
INSERT [dbo].[Patente_62_BP] ([IdPatente_62_BP], [Nombre_62_BP], [DVH_62_BP]) VALUES (3, N'Usuario - Modificar', N'8j8WVGa+267LbaTY/OCxTuNjcdwG6Z2kRDgYIYtLqSs=')
SET IDENTITY_INSERT [dbo].[Patente_62_BP] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol_62_BP] ON 

INSERT [dbo].[Rol_62_BP] ([IdRol_62_BP], [Nombre_62_BP], [DVH_62_BP]) VALUES (1, N'ADMIN', N'eTt91QU2U7vI0jDv++gMh4n7jFwANvW9OEPYF4UPcNU=')
INSERT [dbo].[Rol_62_BP] ([IdRol_62_BP], [Nombre_62_BP], [DVH_62_BP]) VALUES (2, N'BASE', N'XXiXfueJGUmK/jiKkFI8Yfb4LYawkArdGxKBdh/FsrI=')
SET IDENTITY_INSERT [dbo].[Rol_62_BP] OFF
GO
INSERT [dbo].[RolFamilia_62_BP] ([IdRol_62_BP], [IdFamilia_62_BP]) VALUES (1, 1)
INSERT [dbo].[RolFamilia_62_BP] ([IdRol_62_BP], [IdFamilia_62_BP]) VALUES (1, 3)
INSERT [dbo].[RolFamilia_62_BP] ([IdRol_62_BP], [IdFamilia_62_BP]) VALUES (1, 4)
GO
INSERT [dbo].[RolPatente_62_BP] ([IdRol_62_BP], [IdPatente_62_BP]) VALUES (1, 11)
INSERT [dbo].[RolPatente_62_BP] ([IdRol_62_BP], [IdPatente_62_BP]) VALUES (1, 13)
INSERT [dbo].[RolPatente_62_BP] ([IdRol_62_BP], [IdPatente_62_BP]) VALUES (1, 14)
GO
INSERT [dbo].[Usuario_62_BP] ([dni_62_BP], [apellido_62_BP], [nombre_62_BP], [email_62_BP], [login_62_BP], [contrasena_62_BP], [bloqueo_62_BP], [activo_62_BP], [intentosLogin_62_BP], [ForzarContrasenaNueva_62_BP], [IdRol_62_BP], [DVH_62_BP], [Idioma_62_BP]) VALUES (N'123456789', N'Bossio', N'Juan Cruz ', N'Juancruzbossio@mail.com', N'admin', N'jGl25bVBBBW96Qi9Te4V37Fnqchz/Eu4qB9vKrRIqRg=', 0, 1, 0, 0, 1, N'qPsxewuFUDbidmQizH9lO19duAuFrUzhwSUUwrI+tfA=', 2)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario___CA359505C4899439]    Script Date: 5/7/2026 21:58:12 ******/
ALTER TABLE [dbo].[Usuario_62_BP] ADD UNIQUE NONCLUSTERED 
(
	[login_62_BP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario_62_BP] ADD  DEFAULT ((0)) FOR [bloqueo_62_BP]
GO
ALTER TABLE [dbo].[Usuario_62_BP] ADD  DEFAULT ((1)) FOR [activo_62_BP]
GO
ALTER TABLE [dbo].[Usuario_62_BP] ADD  DEFAULT ((0)) FOR [intentosLogin_62_BP]
GO
ALTER TABLE [dbo].[Usuario_62_BP] ADD  DEFAULT ((0)) FOR [ForzarContrasenaNueva_62_BP]
GO
ALTER TABLE [dbo].[Usuario_62_BP] ADD  CONSTRAINT [DF_Usuario_Idioma]  DEFAULT ((1)) FOR [Idioma_62_BP]
GO
ALTER TABLE [dbo].[FamiliaFamilia_62_BP]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaFamilia_Hija] FOREIGN KEY([IdFamiliaHija_62_BP])
REFERENCES [dbo].[Familia_62_BP] ([IdFamilia_62_BP])
GO
ALTER TABLE [dbo].[FamiliaFamilia_62_BP] CHECK CONSTRAINT [FK_FamiliaFamilia_Hija]
GO
ALTER TABLE [dbo].[FamiliaFamilia_62_BP]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaFamilia_Padre] FOREIGN KEY([IdFamiliaPadre_62_BP])
REFERENCES [dbo].[Familia_62_BP] ([IdFamilia_62_BP])
GO
ALTER TABLE [dbo].[FamiliaFamilia_62_BP] CHECK CONSTRAINT [FK_FamiliaFamilia_Padre]
GO
ALTER TABLE [dbo].[FamiliaPatente_62_BP]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaPatente_Familia] FOREIGN KEY([IdFamilia_62_BP])
REFERENCES [dbo].[Familia_62_BP] ([IdFamilia_62_BP])
GO
ALTER TABLE [dbo].[FamiliaPatente_62_BP] CHECK CONSTRAINT [FK_FamiliaPatente_Familia]
GO
ALTER TABLE [dbo].[FamiliaPatente_62_BP]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaPatente_Patente] FOREIGN KEY([IdPatente_62_BP])
REFERENCES [dbo].[Patente_62_BP] ([IdPatente_62_BP])
GO
ALTER TABLE [dbo].[FamiliaPatente_62_BP] CHECK CONSTRAINT [FK_FamiliaPatente_Patente]
GO
ALTER TABLE [dbo].[RolFamilia_62_BP]  WITH CHECK ADD  CONSTRAINT [FK_RolFamilia_Familia] FOREIGN KEY([IdFamilia_62_BP])
REFERENCES [dbo].[Familia_62_BP] ([IdFamilia_62_BP])
GO
ALTER TABLE [dbo].[RolFamilia_62_BP] CHECK CONSTRAINT [FK_RolFamilia_Familia]
GO
ALTER TABLE [dbo].[RolFamilia_62_BP]  WITH CHECK ADD  CONSTRAINT [FK_RolFamilia_Rol] FOREIGN KEY([IdRol_62_BP])
REFERENCES [dbo].[Rol_62_BP] ([IdRol_62_BP])
GO
ALTER TABLE [dbo].[RolFamilia_62_BP] CHECK CONSTRAINT [FK_RolFamilia_Rol]
GO
ALTER TABLE [dbo].[RolPatente_62_BP]  WITH CHECK ADD  CONSTRAINT [FK_RolPatente_Patente] FOREIGN KEY([IdPatente_62_BP])
REFERENCES [dbo].[Patente_62_BP] ([IdPatente_62_BP])
GO
ALTER TABLE [dbo].[RolPatente_62_BP] CHECK CONSTRAINT [FK_RolPatente_Patente]
GO
ALTER TABLE [dbo].[RolPatente_62_BP]  WITH CHECK ADD  CONSTRAINT [FK_RolPatente_Rol] FOREIGN KEY([IdRol_62_BP])
REFERENCES [dbo].[Rol_62_BP] ([IdRol_62_BP])
GO
ALTER TABLE [dbo].[RolPatente_62_BP] CHECK CONSTRAINT [FK_RolPatente_Rol]
GO
USE [master]
GO
