USE [master]
GO
/****** Object:  Database [TP_Campo_62_BP]    Script Date: 20/6/2026 13:27:10 ******/
CREATE DATABASE [TP_Campo_62_BP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP_Campo_62_BP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TP_Campo_62_BP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP_Campo_62_BP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TP_Campo_62_BP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP_Campo_62_BP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP_Campo_62_BP]
GO
/****** Object:  Table [dbo].[Bitacora_62_BP]    Script Date: 20/6/2026 13:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora_62_BP](
	[id_62_BP] [int] IDENTITY(1,1) NOT NULL,
	[fecha_62_BP] [datetime] NOT NULL,
	[dniUsuario_62_BP] [varchar](20) NOT NULL,
	[mensaje_62_BP] [nvarchar](max) NOT NULL,
	[criticidad_62_BP] [int] NOT NULL,
	[DVH_62_BP] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_62_BP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitoVerificadorVertical_62_BP]    Script Date: 20/6/2026 13:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificadorVertical_62_BP](
	[Tabla_62_BP] [varchar](100) NULL,
	[DVV_62_BP] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_62_BP]    Script Date: 20/6/2026 13:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_62_BP](
	[IdFamilia_62_BP] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_62_BP] [varchar](100) NULL,
	[DVH_62_BP] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaFamilia_62_BP]    Script Date: 20/6/2026 13:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaFamilia_62_BP](
	[IdFamiliaPadre_62_BP] [int] NULL,
	[IdFamiliaHija_62_BP] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaPatente_62_BP]    Script Date: 20/6/2026 13:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaPatente_62_BP](
	[IdFamilia_62_BP] [int] NULL,
	[IdPatente_62_BP] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patente_62_BP]    Script Date: 20/6/2026 13:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente_62_BP](
	[IdPatente_62_BP] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_62_BP] [varchar](100) NULL,
	[DVH_62_BP] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol_62_BP]    Script Date: 20/6/2026 13:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_62_BP](
	[IdRol_62_BP] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_62_BP] [varchar](100) NULL,
	[DVH_62_BP] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolFamilia_62_BP]    Script Date: 20/6/2026 13:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolFamilia_62_BP](
	[IdRol_62_BP] [int] NULL,
	[IdFamilia_62_BP] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolPatente_62_BP]    Script Date: 20/6/2026 13:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolPatente_62_BP](
	[IdRol_62_BP] [int] NULL,
	[IdPatente_62_BP] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_62_BP]    Script Date: 20/6/2026 13:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_62_BP](
	[dni_62_BP] [varchar](20) NOT NULL,
	[apellido_62_BP] [nvarchar](100) NOT NULL,
	[nombre_62_BP] [nvarchar](100) NOT NULL,
	[email_62_BP] [nvarchar](256) NOT NULL,
	[login_62_BP] [nvarchar](50) NOT NULL,
	[contrasena_62_BP] [nvarchar](max) NOT NULL,
	[bloqueo_62_BP] [bit] NOT NULL,
	[activo_62_BP] [bit] NOT NULL,
	[intentosLogin_62_BP] [int] NOT NULL,
	[ForzarContrasenaNueva_62_BP] [bit] NOT NULL,
	[IdRol_62_BP] [int] NOT NULL,
	[DVH_62_BP] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[dni_62_BP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora_62_BP] ON 

INSERT [dbo].[Bitacora_62_BP] ([id_62_BP], [fecha_62_BP], [dniUsuario_62_BP], [mensaje_62_BP], [criticidad_62_BP], [DVH_62_BP]) VALUES (24, CAST(N'2026-05-18T21:11:59.750' AS DateTime), N'123456789', N'Igiqi6RPeC6pXv+grZp+rreHDNmnODXADlkjaBwF5pc=', 1, N'Qxa6clg6TzYFQKQnPi5yUwNCOpOeun/lbaW7ZhM1zUA=')
INSERT [dbo].[Bitacora_62_BP] ([id_62_BP], [fecha_62_BP], [dniUsuario_62_BP], [mensaje_62_BP], [criticidad_62_BP], [DVH_62_BP]) VALUES (25, CAST(N'2026-05-18T21:12:42.740' AS DateTime), N'123456789', N'dYQWDfdkI46gJ+0/eoLXjP/sRZxFzXyZPHpKy8k51+k=', 1, N'VOUxfwrpkVjPvaAdisijkzaSCX0xebAGw+J6tQhUgrk=')
INSERT [dbo].[Bitacora_62_BP] ([id_62_BP], [fecha_62_BP], [dniUsuario_62_BP], [mensaje_62_BP], [criticidad_62_BP], [DVH_62_BP]) VALUES (26, CAST(N'2026-05-18T21:26:15.980' AS DateTime), N'123456789', N'Igiqi6RPeC6pXv+grZp+rreHDNmnODXADlkjaBwF5pc=', 1, N'oj1fzF4WAiYQqKTjt31wVJnvLaumOFGAdHz+xk5xWXM=')
GO
SET IDENTITY_INSERT [dbo].[Bitacora_62_BP] OFF
GO
INSERT [dbo].[DigitoVerificadorVertical_62_BP] ([Tabla_62_BP], [DVV_62_BP]) VALUES (N'Usuario_62_BP', N'jxAXUN6tdg/v2ZORinDVzg1QRx5hBgd39qeqBb0vsV0=')
INSERT [dbo].[DigitoVerificadorVertical_62_BP] ([Tabla_62_BP], [DVV_62_BP]) VALUES (N'Rol_62_BP', N'+CB04h9DWnfxteNpy9HFeJZnyCSQ/0AbLgXvkPQdC/o=')
INSERT [dbo].[DigitoVerificadorVertical_62_BP] ([Tabla_62_BP], [DVV_62_BP]) VALUES (N'Patente_62_BP', N'UXRRPfJV3XkZTCEGqAqaxtnGxbSU0d6fakbQ24q0Ows=')
GO
SET IDENTITY_INSERT [dbo].[Familia_62_BP] ON 

INSERT [dbo].[Familia_62_BP] ([IdFamilia_62_BP], [Nombre_62_BP], [DVH_62_BP]) VALUES (1, N'Usuario', N'SC9LvoEVNtC+MsazdxEUYJCaF037AQt/oNwReZ/3OmQ=')
INSERT [dbo].[Familia_62_BP] ([IdFamilia_62_BP], [Nombre_62_BP], [DVH_62_BP]) VALUES (5, N'Manejo - Usuario', N'UgCz5BoNxJxYWQPEYMl+9mtGklXyNJyKAzYYsCZFTGM=')
INSERT [dbo].[Familia_62_BP] ([IdFamilia_62_BP], [Nombre_62_BP], [DVH_62_BP]) VALUES (3, N'Manejo - Familia', N'R3baWjuU8kwM+nWlfU1e21wAujH+L7h6/3ZxA5mdg58=')
SET IDENTITY_INSERT [dbo].[Familia_62_BP] OFF
GO
INSERT [dbo].[FamiliaPatente_62_BP] ([IdFamilia_62_BP], [IdPatente_62_BP]) VALUES (1, 15)
INSERT [dbo].[FamiliaPatente_62_BP] ([IdFamilia_62_BP], [IdPatente_62_BP]) VALUES (1, 16)
INSERT [dbo].[FamiliaPatente_62_BP] ([IdFamilia_62_BP], [IdPatente_62_BP]) VALUES (1, 17)
GO
SET IDENTITY_INSERT [dbo].[Patente_62_BP] ON 

INSERT [dbo].[Patente_62_BP] ([IdPatente_62_BP], [Nombre_62_BP], [DVH_62_BP]) VALUES (1, N'Usuario - Crear', N'3NvnjHiX8v2KO73yrvj3LDFaZOTj6JAm1ONUqzKLics=')
INSERT [dbo].[Patente_62_BP] ([IdPatente_62_BP], [Nombre_62_BP], [DVH_62_BP]) VALUES (2, N'Usuario - Desbloquear', N'nnR1ZW0Ai5mmdRiXQLF6VY1u352LhiE67ZAIIHXovBQ=')
INSERT [dbo].[Patente_62_BP] ([IdPatente_62_BP], [Nombre_62_BP], [DVH_62_BP]) VALUES (3, N'Usuario - Modificar', N'8j8WVGa+267LbaTY/OCxTuNjcdwG6Z2kRDgYIYtLqSs=')
SET IDENTITY_INSERT [dbo].[Patente_62_BP] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol_62_BP] ON 

INSERT [dbo].[Rol_62_BP] ([IdRol_62_BP], [Nombre_62_BP], [DVH_62_BP]) VALUES (1, N'ADMIN', N'eTt91QU2U7vI0jDv++gMh4n7jFwANvW9OEPYF4UPcNU=')
INSERT [dbo].[Rol_62_BP] ([IdRol_62_BP], [Nombre_62_BP], [DVH_62_BP]) VALUES (2, N'BASE', N'XXiXfueJGUmK/jiKkFI8Yfb4LYawkArdGxKBdh/FsrI=')
SET IDENTITY_INSERT [dbo].[Rol_62_BP] OFF
GO
INSERT [dbo].[RolFamilia_62_BP] ([IdRol_62_BP], [IdFamilia_62_BP]) VALUES (1, 1)
INSERT [dbo].[RolFamilia_62_BP] ([IdRol_62_BP], [IdFamilia_62_BP]) VALUES (2, 1)
INSERT [dbo].[RolFamilia_62_BP] ([IdRol_62_BP], [IdFamilia_62_BP]) VALUES (1, 3)
GO
INSERT [dbo].[RolPatente_62_BP] ([IdRol_62_BP], [IdPatente_62_BP]) VALUES (1, 11)
INSERT [dbo].[RolPatente_62_BP] ([IdRol_62_BP], [IdPatente_62_BP]) VALUES (1, 13)
INSERT [dbo].[RolPatente_62_BP] ([IdRol_62_BP], [IdPatente_62_BP]) VALUES (1, 14)
GO
INSERT [dbo].[Usuario_62_BP] ([dni_62_BP], [apellido_62_BP], [nombre_62_BP], [email_62_BP], [login_62_BP], [contrasena_62_BP], [bloqueo_62_BP], [activo_62_BP], [intentosLogin_62_BP], [ForzarContrasenaNueva_62_BP], [IdRol_62_BP], [DVH_62_BP]) VALUES (N'12345678', N'Gomez', N'Teo', N'teoGomez@mail.com', N'teogomez', N'cYVwS25Cnr4lq95+a2Dab8jF8voSF7sXRRWXh8IVLik=', 0, 1, 0, 0, 2, N'PY+sjWvd6yNqc28uGS04zZ5s84iymF8tdVtJoUQKZtQ=')
INSERT [dbo].[Usuario_62_BP] ([dni_62_BP], [apellido_62_BP], [nombre_62_BP], [email_62_BP], [login_62_BP], [contrasena_62_BP], [bloqueo_62_BP], [activo_62_BP], [intentosLogin_62_BP], [ForzarContrasenaNueva_62_BP], [IdRol_62_BP], [DVH_62_BP]) VALUES (N'123456789', N'Bossio', N'Juan Cruz ', N'Juancruzbossio@mail.com', N'admin', N'jGl25bVBBBW96Qi9Te4V37Fnqchz/Eu4qB9vKrRIqRg=', 0, 1, 0, 0, 1, N'hpD/jEt312Ye3Fvr51wwrSJS8VtlxZmIxSNcPQF/8BA=')
INSERT [dbo].[Usuario_62_BP] ([dni_62_BP], [apellido_62_BP], [nombre_62_BP], [email_62_BP], [login_62_BP], [contrasena_62_BP], [bloqueo_62_BP], [activo_62_BP], [intentosLogin_62_BP], [ForzarContrasenaNueva_62_BP], [IdRol_62_BP], [DVH_62_BP]) VALUES (N'1234568877', N'dmin', N'a', N'test@test.ocm', N'test', N'n4bQgYhMfWWaL+qgxVrQFaO/TxsrC4Is0V1sFbDwCgg=', 0, 1, 0, 0, 2, N'3cRf6KINtuSL9bcOo9gXhgML4+oCRB3KBTfTCh8Azhc=')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario___CA359505C4899439]    Script Date: 20/6/2026 13:27:10 ******/
ALTER TABLE [dbo].[Usuario_62_BP] ADD UNIQUE NONCLUSTERED 
(
	[login_62_BP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario_62_BP] ADD  DEFAULT ((0)) FOR [bloqueo_62_BP]
GO
ALTER TABLE [dbo].[Usuario_62_BP] ADD  DEFAULT ((1)) FOR [activo_62_BP]
GO
ALTER TABLE [dbo].[Usuario_62_BP] ADD  DEFAULT ((0)) FOR [intentosLogin_62_BP]
GO
ALTER TABLE [dbo].[Usuario_62_BP] ADD  DEFAULT ((0)) FOR [ForzarContrasenaNueva_62_BP]
GO
USE [master]
GO
